<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:messages globalOnly="false"/>
        <h:form>
            <h:panelGrid columns="2">
                <h:outputLabel for="nome" value="Nome:"/>
                <h:inputText id="nome" value="#{userController.novoUsuario.nome}" />
                <h:outputLabel for="senha" value="Senha:"/>
                <h:inputSecret id="senha" value="#{userController.novoUsuario.senha}" />
                <h:commandButton id="adicionar" value="Adicionar" action="#{userController.adicionar}"/>
            </h:panelGrid>

            <h:dataTable id="dados" value="#{userController.usuarios}" var="usuario">
                <f:facet name="header">
                    <h:outputText value="Usuários Cadastrados" />
                </f:facet>

                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Nome"/>
                    </f:facet>
                    <h:outputText value="#{usuario.nome}"/>
                </h:column>

                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Senha"/>
                    </f:facet>
                    <h:outputText value="#{usuario.senha}"/>
                </h:column>
                
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Senha"/>
                    </f:facet>
                    <h:commandButton id="remover" value="Remover" action="#{userController.remover(usuario.nome)}"/>
                </h:column>
            </h:dataTable>
        </h:form>
    </h:body>
</html>

